.about {
  display: flex;
  width: 100%;
  margin: 3rem auto;
  background: rgba(0, 0, 0, 0.938);
  color: $font-color;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 992px) {
    flex-direction: column;
     margin: 0;
  }
  @media (max-width: 768px) {
    flex-direction: column;
  }

  .for-circle {
    display: flex;

    flex-basis: 20%;
    font-size: 2rem;
    @media (max-width: 1200px) {
      flex-basis: 30%;
      justify-content: flex-end;
      align-items: center;
    }
    @media (max-width: 992px) {
      justify-content: center;
      align-items: center;
  
    }
  

    .circle {
      position: relative;
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      background-color: white;
      margin: 25px;
      @media (max-width: 1200px) {
        width: 30vw;
        height: 30vw;
      }
      @media (max-width: 992px) {
        width: 25vw;
        height: 25vw;
      }

      @media (max-width: 576px) {
        width: 50vw;
        height: 50vw;
      }

      .inner-circle {
        @include imgCenter;
        width: 92%;
        height: 92%;
        border-radius: 50%;
        background-color: rgb(15, 15, 15);
        overflow: hidden;

        img {
          @include imgCenter;
          width: 140%;
        }
      }
    }
  }
  .info {
    flex-basis: 40%;
    align-self: center;
    @media (max-width: 1200px) {
      flex-basis: 50%;
      padding: 25px 0;
    }
    @media (max-width: 992px) {
      width: 70%;
      padding: 0px 0px 25px 0px;
    }
    @media (max-width: 576px) {
    width: 85%;
    }
    
    h1 {
      font-size: 2rem;
      @media (max-width: 992px) {
        font-size: 1.5rem;
        text-align: center;
      }
      @media (max-width: 576px) {
        font-size: 1.5rem;
        
      }
    }
    p {
      font-size: 1rem;
      line-height: 200%;
      width: 85%;
      @media (max-width: 992px) {
        width: 100%;
        text-align: center;
      }
      @media (max-width: 768px) {
        width: 100%;
        text-align: center;
      }
      @media (max-width: 576px) {
        text-align: left;
        
      }

      span {
        color: $base-color;
        font-weight: bold;
      }
    }
  }
}
