footer {
  height: 10vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  width: 100%;

  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    height: 15vh;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    height: 15vh;
  
  }
  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
   height: 15vh;
  }
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 20%;
    margin: 0 auto;
    height: 100%;
    font-size: 2.3rem;
    color: white;
    cursor: pointer;
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 1.5rem;
      max-width: 60%;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 1.5rem;
        max-width: 40%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 1.5rem;
      max-width: 40%;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      font-size: 1.5rem;
      max-width: 40%;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      font-size: 1.5rem;
      max-width: 40%;
    }
  }
}
