footer {
  height: 10vh;
  background: linear-gradient(to right, #1e3c72, #2a5298);
  width: 100%;
  @media (max-width: 992px) {
    height: 20vh;
  }
  @media (max-width: 768px) {
    height: 15vh;
  }
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 20%;
    margin: 0 auto;
    height: 100%;
    font-size: 2.3rem;
    color: white;
    a{
      color: white;
    }
    @media (max-width: 992px) {
      max-width: 80%;
      font-size: 2rem;
    }
  }
}
