header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(../img/bgc.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  @media (max-width: 768px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9)),
      url(../img/bgc-small.jpg);
    background-attachment: scroll;
  }
  .main-text {
    display: flex;
    @include flexCenter;
    width: 50%;
    flex: 1;
    color: white;
    line-height: 35px;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 20px 50px;
    @media (max-width: 1200px) {
      width: 80%;
    }
    @media (max-width: 992px) {
      padding: 20px;
      width: 90%;
    }
    @media (max-width: 768px) {
      padding: 15px;
    }
    @media (max-width: 576px) {
      padding: 10px;
    }

    .inner-txt {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex: 3;
    }
    h1 {
      font-size: 2rem;
      @media (max-width: 1200px) {
        display: flex;
        flex-grow: 1;
        align-self: center;
        align-items: flex-end;
      }
      @media (max-width: 992px) {
        font-size: 1.1rem;
        line-height: 20px;
        align-items: flex-end;
      }
      // @media (max-width: 768px) {
      //   font-size: 1rem;
      //   line-height: 20px;
      //  }
      @media (max-width: 576px) {
        font-size: 1rem;
        text-align: center;
        line-height: 25px;
      }
    }
    h2 {
      @media (max-width: 992px) {
        display: flex;
        width: 60%;
        flex-grow: 1;
        align-self: center;
        align-items: center;
        font-size: 0.7rem;
        line-height: 20px;
        flex-grow: 1;
      }

      @media (max-width: 768px) {
        font-size: 0.7rem;
        text-align: center;
        // width: 100%;
      }
      @media (max-width: 576px) {
        width: 100%;
        font-size: 0.7rem;
      }
    }

    .inner-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex: 2;

      @media (max-width: 992px) {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }

      .course {
        position: relative;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 50%;
        @media (max-width: 1200px) {
          width: 150px;
          height: 150px;
        }
        @media (max-width: 992px) {
          width: 80px;
          height: 80px;
        }

        @media (max-width: 576px) {
          width: 100px;
          height: 100px;
        }

        img {
          @include imgCenter;
          width: 70%;
        }
      }
      .price {
        align-self: center;
      }
    }
  }
  .main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    @media (max-width: 768px) {
      flex-grow: 1.5;
    }

    a {
      text-decoration: none;
      background-color: white;
      padding: 10px 120px;
      text-transform: uppercase;
      color: black;
      font-size: 15px;

      @media (max-width: 992px) {
        font-size: 0.7rem;
        padding: 1px 100px;
      }

      @media (max-width: 576px) {
        font-size: 0.7rem;
        padding: 5px 80px;
      }
    }
  }
}
